p {
    color: pink;
    font-size: medium;
}
h1 {
    color: purple;
    font-size: x-large;
}
body {
    background-image: url("https://sun9-73.userapi.com/impf/XT3nZs8mbjhjtU_TRTPNAp-ayh_uE0wfoUs5Bg/W1BBxkI651o.jpg?size=1620x2160&quality=96&sign=454918ea441464fb9883e086364ed89a&type=album");
}